body {
  background-color: #2c242bff;
  background-image: url("art/bg.png");
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: #d5cbbaff;
  font-family: sans-serif;
}

@font-face {
    font-family: ravenscroft;
    src: url(Ravenscroft.ttf) format("truetype");
    font-style: normal;
}

h1, h2 {
  font-family: sans-serif;
  margin: 0;
}
p {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #853556ff;
}
a:hover {
  color: #de4f7eff;
}

@keyframes fadeIn {
  0% {opacity: 50%;}
  100% {opacity: 0%;}
}
@keyframes fadeOut {
  0% {opacity: 0%;}
  100% {opacity: 50%;}
}
#bodyFade {
  z-index: 1;
  background-color: black;
  opacity: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  pointer-events: none;

  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#menuIcon {
  color: #F3F3F3;
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 3;
}
#menuIcon div {
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #9b8e84ff;
  border-radius: 3px;
}
#menuIcon:hover div {
  background-color: #d5cbbaff;
}

@keyframes open {
  0% {left: -206px;}
  100% {left: 0px;}
}
@keyframes close {
  0% {left: 0px;}
  100% {left: -206px;}
}
#menuPopup {
  background-color: #2c242bff;
  background-image: url("art/bg.png");
  position: fixed;
  top: 0;
  left: -206px;
  width: 200px;
  height: calc(100% - 6px);

  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 2;

  border-color: #554a53ff;
  border-left-color: #2c242bff;
  border-style: solid;
  border-width: medium;
  border-radius: 0 50px 50px 0;
}
#menuPopup h3 {
  margin: 24px;
  margin-top: 64px;
}

.tab {
  display: flex;
  align-items:center;
  margin: 24px;
}
.tab span {
  margin-left: 10px;
  font-weight: bold;
}
.selected {
  color: #de4f7eff;
}

#webName {
  position: absolute;
  top: 100px;
  left: 230px;

  font-family: ravenscroft;
  font-size: 2em;
  color: #9b8e84ff;

  text-align: center;

  line-height: 30px;

  overflow-x: visible;
  overflow-y: hidden;
  overflow-wrap: break-word;

  width: 14px;
  height: calc(100vh - 136px);
}


#backcanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}


#info {
  font-size: 3em;
  font-weight: normal;
  position: fixed;
  right: 30px;
  bottom: 25px;
  font-family: ravenscroft, sans-serif;
  width: 40px;
  text-align: center;
  color: #9b8e84ff;
}
#info:hover, #info:focus {
  color: #d5cbbaff;
  text-decoration: none;
  cursor: pointer;
}
#popup {
  background-color: #2c242bff;
  border: #554a53ff solid;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  right: 25px;
  bottom: 30px;
  display: none;
}
#close {
  font-size: 2em;
  position: absolute;
  right: 5px;
  top: -5px;
  color: #9b8e84ff;
}
#close:hover, #close:focus {
  color: #d5cbbaff;
  text-decoration: none;
  cursor: pointer;
}
#popuptext {
  text-align: center;
}
#popuptext p {
  margin: 15px 0;
}
