body {
  background-color: #040707;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.titleBox {
  margin-top: 20px;
}

.titleBox a {
  text-decoration: none;
}

.titleBox:hover {
  cursor: pointer;
}
#titleHeading {
  color: #F3F3F3;
  text-align: center;
  font-family: 'Volkhov', serif;
  margin: 0;
  text-shadow: 2px 2px 4px Turquoise;
  white-space: nowrap;
}
.titleSubHeading {
    color: #62aca5;
    text-shadow: 0 0 4px Turquoise;
    font-family: 'Volkhov', serif;
    margin: 0;
    text-align: center;
}

hr {
  background-color: #F3F3F3;
  height: 2px;
  box-shadow: 0px 1px 5px Turquoise;
}
.topbar {
  margin-top: 20px;
  width: 90%;
}
.bottombar {
  width: 85%;
}

.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #F3F3F3;
}
.menu a {
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  margin: 10px 40px 5px 40px;
  text-decoration: none;
  text-shadow: 0px 2px 4px Turquoise;
}
.menu a:hover {
  cursor: pointer;
  color: #62aca5;
}
.menu a:link, a:visited {
  color: #F3F3F3;
}

.selected {
  color: #62aca5;
}

#backcanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}


#info {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  font-size: 2em;
  position: fixed;
  right: 30px;
  bottom: 25px;
}
#info:hover, #info:focus {
  color: #6e6e6e;
  text-decoration: none;
  cursor: pointer;
}
#popup {
  background-color: #040707;
  border: #62aca5 solid;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  right: 25px;
  bottom: 30px;
  display: none;
}
#close {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  font-size: 2em;
  position: absolute;
  right: 5px;
  top: -5px;
}
#close:hover, #close:focus {
  color: #6e6e6e;
  text-decoration: none;
  cursor: pointer;
}
#popuptext {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  text-align: center;
}
#popuptext p {
  margin: 15px 0;
}
