body {
  background-color: #040707;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#menuIcon {
  color: #F3F3F3;
  position: fixed;
  left: 25px;
  bottom: 25px;
  z-index: 2;
}
#menuIcon div {
  width: 25px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #F3F3F3;
  border-radius: 3px;
}
#menuIcon:hover div{
  background-color: #6e6e6e;
}

@keyframes open {
  0% {left: -200px; display: block;}
  100% {left: 0px;}
}
@keyframes close {
  0% {left: 0px;}
  100% {left: -200px; display: none;}
}
#menuPopup {
  background-color: #242526;
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
#tabs {
  position: absolute;
  top: 100px;
}
#tabs a {
  color: #F3F3F3;
  font-size: 1em;
  font-family: sans-serif;
  text-decoration: none;
  display: block;
  margin: 12px 40px;
}
#tabs a:hover {
  cursor: pointer;
  color: #62aca5;
}
#tabs a:link, a:visited {
  color: #F3F3F3;
}
#tabs .selected {
  color: #62aca5;
}
#media {
  text-align: center;
  position: relative;
  top: 32px;
}
#media img {
  margin: 0px 4px;
}



#backcanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}


#info {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  font-size: 2em;
  position: fixed;
  right: 30px;
  bottom: 25px;
}
#info:hover, #info:focus {
  color: #6e6e6e;
  text-decoration: none;
  cursor: pointer;
}
#popup {
  background-color: #040707;
  border: #62aca5 solid;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  right: 25px;
  bottom: 30px;
  display: none;
}
#close {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  font-size: 2em;
  position: absolute;
  right: 5px;
  top: -5px;
}
#close:hover, #close:focus {
  color: #6e6e6e;
  text-decoration: none;
  cursor: pointer;
}
#popuptext {
  color: #F3F3F3;
  font-family: 'Volkhov', serif;
  text-align: center;
}
#popuptext p {
  margin: 15px 0;
}
